{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Global Code Mapper</h1>
    <p class="lead">Welcome to the global code mapper</p>
    <p><button class="btn btn-primary btn-large">Preload data &raquo;</button></p>
    <p id="loading" class="lead"></p>
</div>

{% endblock %}


{% block scripts %}

<script>
    $("button").bind('click', function () {
        $('#loading').text('Loading data in to memory...');
        $.getJSON('/preload_data', function (data) {
            console.log(data['result']);
            $('#loading').text('Finished. All data in memory.');
        });
        return false;
    });

</script>

{% endblock %}